@keyframes rotate {
    from{ transform: rotate(0deg);   }
    to{   transform: rotate(360deg); }
  }
  .parent {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      position: relative;
      top: 10%;
      left: 0%;
      border-top: 15px solid  var(--color-primary); 
      border-right: 15px solid  var(--color-bg-variant);
      border-bottom: 15px solid  var(--color-primary);
      border-left: 15px solid  var(--color-bg-variant);
      /* border: 15px solid  var(--color-primary); */
      animation: rotate 12s linear infinite;
      transition: 1s;
  } 


  .parent{
      transition: .5s;
    box-shadow:0 0 30px var(--color-primary);
}
  
  .container-port{
      position: relative;
  }
  
  .child {
      opacity: none;
      position: absolute;
      top: 1rem;
      left: -3.5rem;
      color: #fff;
      width: 30rem;
      height: 30rem;
      animation: none !important;
  }



















.about-container {
    display: grid;
    grid-template-columns: 35% 50%;
    clear: both;
    gap: 15%;
    }
    

    .about-me {        
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
    ); */
    display: grid;
    place-items: center; 
    transition: 1s;
    background: red; 
    border-top: 10px solid  var(--color-primary); 
    border-right: 10px solid  transparent;
    border-bottom: 10px solid  var(--color-primary);
    border-left: 10px solid  transparent;
    /* background: red; */
    z-index: -2;
    /* animation: rotation 5s infinite linear;           */
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }


      .about-me-image{
        /* overflow: hidden; */
        transform: rotate(15deg);
        border-radius: 40%;
        transition: .85s;
        background: pink;
    } 
    .about-me-image img{
        
        /* transform: rotate(15deg); */
        border-radius: 40%;
        transition: .85s;
        /* position: absolute;
        left: 0;
        right: 0;       */
    }  
    .about-me-image img:hover{
        transition: .5s;      
        transform: rotate(0);
    }       
    /* === right side === */

    .about-cards{
        display: flex;
        grid-template-columns: repeat (3, 1fr);
        gap: 1.5rem;
        margin: 20px 0;
        }
        
        .about-card{
            background: var(--color-bg-variant);
            border: 3px solid transparent;
            border-radius: 1rem;
            padding: 1rem 3rem;
            text-align: center;
            transition: .5s;            
            border: 3px solid var(--color-primary);   
        }
        .about-card:hover{
            transition: .25s;  
            background: transparent;
            border: 3px solid var(--color-bg-variant);
        }          
        .about-icon {
            color: var(--color-primary);
            font-size: 1.4rem;
            margin-bottom: 1rem;
            }
            .about-card h5 {
                font-size: 0.95rem;
                }
                .about-card small {
                font-size: 0.7rem;
                color: var(--color-light);
                }
                
                .about-content p{
                    text-align: center;
                    margin: 2rem 3rem;
                    color: var(--color-light);
                    }
                    
            .about-content a{
                margin: 0 40% 20px 40%;
            }


/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ================================== */
@media screen and (max-width: 1200px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .container-port{
        margin: 0 auto;
        top: -3rem;
        left: 0;
    }
    .about{
        margin-top: 15rem;
    }
        .about-me{
        width: 50%;
        margin: 2rem auto 4rem;
        }
        .about-cards{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            }
        .about-card{
            margin:1rem auto;            
            padding: 1rem 4%;
            }
            .about-content a{
                margin: 0 40%;
            }

}
/* ============================ MEDIA QUERIES (SMALL DEVICES) ================================== */
@media screen and (max-width: 600px) {
   
    .about{
        margin-top: 15rem;
    }
    .about-cards{
        display: flex;
        flex-direction: column;
        }
        .about-card{
            padding: 1rem 30%;
            margin: 1rem auto;
            }
            .about-content a{
                margin: 0 35%;
            }
}


/* ============================ MEDIA QUERIES (EXTRA SMALL DEVICES) ================================== */
@media screen and (max-width: 400px) {
   
    .about-me{
        width: 90%;
        margin: 2rem auto 4rem;
        }
        .parent{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            position: relative;
            top: 10%;
            left: 0%;
        }
        .child{
            width: 23rem;
            height: 23rem;
            left: 0%;
            top: 1rem;
            left: -2.25rem;
        }
}











