.container.contact_container{
    width:58%;
    display:grid;
    grid-template-columns:30% 58%;
    gap:12%;
   }

   .contact_options{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
   }
   .contact_option{
       width: auto;
       height: auto;
    background:transparent;
    padding:1.2rem;
    border-radius:1.2rem;
    text-align:center;
    border:1px solid transparent;
    background:var(--color-bg-variant);
    transition: .75s;
   }
.contact_option:hover{
    border:1px solid var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary);
}.contact_option:hover .contact_option_icon{
    font-size: 3.5em;
    transition: .75s;
    animation: rotation .65s linear;   
}

  @keyframes rotation {
    100% {
      transform: rotate(360deg);
    }
  }
.contact_option_icon{
    font-size: 1.5em;
    transition: .75s;
    animation: antirotation .5s linear; 
    color: var(--color-primary);
}

@keyframes antirotation {
    100% {
      transform: rotate(-360deg);
    }
  }
.contact_option a{
    margin-top:0.7rem;
    display:inline-block;   
    font-size:0.8rem;
}

#contact{
    margin-top: 10rem;
    margin-top: -22rem;
    height: auto;
    padding: 2rem;
}

/* ================= form =================*/

form{
    display:flex;
     flex-direction:column;
    gap:1.2rem;
   }

   input,
textarea{
 width:100%;
  padding:1rem;
  border-radius:0.5em;
  background:transparent;
  border:2px solid var(--color-primary-variant);
  resize:none;
  color: var(--color-white);
  transition: .15s;
}
input:focus,
textarea:focus{
    margin-left: .75rem;
    padding:1.75rem;
    transition: .25s;
  border:2px solid var(--color-primary-variant);
  resize:none;
  color: var(--color-white);
  box-shadow: 0 0 .5rem var(--color-primary-variant);
  /* background:var(--color-primary-variant); */
}::placeholder {
    color: var(--color-white);
    opacity: 50%;
  }

  

/* ============================ MEDIA QUERIES (LARGE DEVICES) ================================== */
@media screen and (max-width: 1500px) {
}
/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ================================== */
@media screen and (max-width: 1200px) {
    .container.contact_container{
        display:grid;
        grid-template-columns:50% 50%;
        gap:12%;
       }

    .contact_option{
        width: 100%;
        height: 100%;
     transition: .75s;
    }
}
/* ============================ MEDIA QUERIES (SMALL DEVICES) ================================== */
@media screen and (max-width: 800px) {
    .container.contact_container{
    display:grid;
    grid-template-columns:100%;
    gap:12%;
   }
   #contact{
       height: auto;
       width: auto;
   }

}
/* ============================ MEDIA QUERIES (EXTRA SMALL DEVICES) ================================== */
@media screen and (max-width: 400px) {
    .container.contact_container{
    width:90%;
    display:grid;
    grid-template-columns:100%;
    gap:12%;
   }
}