nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.25rem 2rem;
    z-index: 9;
    position: fixed;
    left: 50%;
    bottom: 0.75rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    }
    
    nav a {
        background: transparent ;
        padding: 0.75rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-light);
        font-size: 1.1rem;
        transition: ease-in-out .25s;
        }
        nav a:hover {
        font-size: 1.5rem;
        transition: ease-in-out .25s;
        color: var(--color-primary);
        
        }
        nav a.active {            
        color: var(--color-primary);
        background: rgba(0, 0, 0, 0.3);       
        font-size: 1.5rem;
        }
        
/* ============================ MEDIA QUERIES (EXTRA SMALL DEVICES) ================================== */
@media screen and (max-width: 400px) {
    nav {
    position: fixed;
    left: 50%;
    bottom: 0.75rem;
    backdrop-filter: blur(5px);
    }
   
}